.app-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	position: relative;
}

.description-container {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	font-size: 16px;
	width: 800px;
	padding: 20px 20px 20px 20px;
	color: white;
	background: linear-gradient(145deg, #353738, #3f4142);
	line-height: 150%;
	position: absolute;
	bottom: 10px;
	left: 30%;
	z-index: 1000;
}

.close-btn {
	width: 60px;
	height: 60px;
	background-color: black;
	position: absolute;
	top: 0;
	left: -60px;
	z-index: 1001;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	cursor: pointer;
}

.title-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.place-icon {
	width: 32px;
	height: 32px;
}

.divider {
	width: 100%;
	height: 1px;
	background-color: white;
}

.tags-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.place-tag {
	border-radius: 4px;
	background-color: greenyellow;
	color: black;
	font-weight: 700;
	padding: 4px 10px 4px 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.leaflet-container {
	height: 100%;
	width: 100%;
	position: relative;
}

.leaflet-tooltip-pane div {
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	color: black;
	background: greenyellow;
	border: none;
	padding: 12px;
}

.leaflet-tooltip-pane div::before {
	display: none;
}

.my-div-icon {
	width: 128px;
	height: 128px;
	background-color: greenyellow;
	border-radius: 50%;
	cursor: pointer;
}
